*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cover {
    display: flex;
    background-image: url('./images/pexels-pixabay-147411.jpg'); /* Adjust path if needed */
    background-size: cover; /* Make the image cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    width: 100%;
    min-height: 100vh; /* Ensure it covers the full viewport height */
}

#content{
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: 100px;
}
#content h1{
    color: rgb(166, 27, 194);
}
P{
    color: rgb(166, 27, 194);
    font-size: xx-large;
    font-weight: bold;
}
.sidebar{
    min-height: 100vh;
    background-color: black;
    width: 200px;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    transition: width .5s;
}
#logo{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 12px 15px 0 12px;
}
#logo img{
    margin-left: 10px;
    margin-top: 15px;
    width: 85px;
    height: 85px;
    background-color: white;
    border-radius: 50%;
}
#logo #title{
    color: white;
    font-size: 20px;
    padding-right: 20px;
    font-weight: 700px;
}
#toggle_btn{
    text-align: end;
}
#toggle_btn ion-icon{
    color: #a8edfe;
    cursor: pointer;
    font-size: 18px;
    padding-top: 12px;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul li {
    margin: 5px 15px;
}
.sidebar ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
}
.sidebar ul li a:hover{
    background-color: rgb(14,177,202);
    border-radius: 50px;
}
.sidebar.collapsed{
    width: 70px;
}
.sidebar.collapsed .label{
    display: none;
}
.sidebar.collapsed ul li a{
    padding: 8px 0;
    font-size: 20px;
    justify-content: center;
    border-radius: 5px;
}
.sidebar.collapsed #title{
    display: none;
}
.collapsed #logo img {
    width: 60px; 
    height: 60px;
    margin-top: 10px;
}
background-image{
    background-image: url('https://unsplash.com/photos/calm-body-of-water-during-golden-hour-c6miNI_WdZ4')
}
.active{
    background-color: #0ac0df;
    border-radius: 50px;

}